.galleryPage h1 {
  text-align: center;
  color: #ffe503;
  padding-top: 100px;
  font-size: 94px;
  font-family: "Inria Serif", serif;
  font-weight: 700;
}

.galleryPage h2 {
  text-align: center;
  color: #ffe503;
  padding-top: 100px;
  font-size: 70px;
  font-family: "Inria Serif", serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.galleryPage p {
  margin: 20px 150px;
  font-size: 24px;
  color: white;
  font-weight: 300;
}

.VRGallery p {
  margin: 0 0;
  text-align: center;
}

.galleryPage button {
  position: absolute;
  /* top: 50%; Center vertically */
  left: 42%; /* Center horizontally */
  background-color: #4024fc;
  border-color: #4024fc;
  border-radius: 30px;
  padding: 10px 20px;

  margin: 30px;
}

.galleryPage a {
  color: white;
  font-size: 32px;
  font-weight: 500;
  font-family: "Inria Serif", serif;
  text-decoration: none;
}

.artWork {
  display: flex;
  flex-direction: row;
  margin: 90px 150px;
  gap: 40px;
}

.artWork img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  /* order: 1; */
  border: white 10px solid;
}

.description {
  /* order: 2; */
  text-align: left;
  margin: 0 0;
}

.description h3 {
  font-size: 30px;
  margin-top: 0;
}

.description p {
  margin: 0;
  font-size: 18px;
  text-align: left;
}
